/target
/classes
/checkouts
/output
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.idea
*.iml
*.edn
*.log
*.txt
*.jpg
*.pdf
*.png
merge_*.md
merge-*.md
scratch
paragraphs.md
summary-info.md
text-links.md
/resources/cv/
/resources/mm/
